[logstash-{{ logstash_version }}]
name=Elastic repository for {{ logstash_version }} packages
baseurl={{ ls_repo_base }}/packages/{{ ls_repo_name }}/yum
gpgcheck=1
gpgkey={{ ls_repo_base }}/GPG-KEY-elasticsearch
enabled=1
autorefresh=1
type=rpm-md